@media (min-width: 768px) {
    h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: 1rem;
    }
    .timeline-date li::before {
        top: -14px;
    }
    .timeline-date li::after {
        top: -8px;
    }
}